bidict
black
cairosvg
jinja2
jsonpickle
jupyter
keyboard
matplotlib
numpy-stl
numpy==1.21.5
opencv-python
pandas
pillow==9.0.1
pre-commit
pydantic-xml==2.14.3
pydantic==2.10.6
pyright
pytest-cov
pytest>=6.2.5,<7
scikit-image # Used to rasterize polygon contours and for image skeleton computation
setuptools
shapely==1.8.0
sphinx
sphinx-copybutton
sphinx-rtd-theme
svgpath2mpl
transforms3d
triangle
typer
typing-extensions
